main{
    max-width: 840px;
}

nav{
    background-color: rgb(43, 81, 112);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(43, 81, 112);}



p{
    padding: 0;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: rgb(43, 81, 112);
    color: #f5f5f5;
    text-align: center;
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1px;
    box-shadow:0 0 10px #000;

}
aside img{
    width: 200px;
    height: auto;
    border: 1px solid rgb(43, 81, 112);
    padding: 2px;
    box-shadow: 0 0 20px gray;
}
aside p {
    text-align: justify;
    margin: 12px;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

aside h2 {
  margin: 10px 20px 20px;
   border-bottom: 1px solid #f5f5f5;
}