.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid black;
    padding: 15px;
    background-color: #247;
    color: white
}

.callout img {
	float: right;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 15px; 
    border: 1px solid black;
    padding: 3px;
    background-color: gainsboro;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 0px;
}

cite {
	display: block;
    border-top: 1px dotted white;
    text-align: right;
    padding-top:3px;
    font-size:medium;
}